
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include async-font($sans-serif, $sans-serif-fallback);
  min-height: 100vh;
  position: relative;
}

ul {
  padding-left: 1rem;
  margin-bottom: 1rem;
}

li {
  margin-bottom: .5rem;
}

.app {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
}

.menuToggle {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.trip-items {
  margin: 1rem auto 0;
  padding: 1rem;
  max-width: 100%;

  @media screen and (min-width: 960px) {
    padding: 0;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

.trip-item {
  margin-bottom: 1rem;

  @media screen and (min-width: 960px) {
    margin-bottom: 0;
  }
}

.drawer {
  padding: 1rem;
}

.tags {
  display: flex;
  flex-wrap: wrap;
}
