*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include async-font($sans-serif, $sans-serif-fallback);
  min-height: 100vh;
  position: relative;
}

.app {
  min-height: 100vh;
  position: relative;
}

.menuToggle {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}
